<div class="container-fluid">
    <div class="row">
        <!-- Side bar -->
        <div class="col-md-2 border bg-light rounded">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex align-items-center">
                        <h1 class="display-6 text-start flex-grow-1">Chats</h1>
                        <label class="ms-auto rounded-3" style="cursor:pointer"><i class="m-2 my-3 fa fa-message fa-lg"></i></label>
                    </div>
                    <ul *ngIf="conversations.value.length != 0" class="list-group">
                        <li *ngFor="let conv of conversations|async; index as i">
                            <div class="list-group-item list-group-item-action" (click)="selectConversation(conv)">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{getOppositeUser(conv.participants)}}</h5>
                                    <small>{{conv.messages[conv.messages.length - 1].content}}</small>
                                </div>
                                <p class="mb-1">{{conv.updatedAt}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Main content -->
        <div class="col-md-10">
            <div class="container d-flex flex-column border bg-light rounded" style="height:720px">
                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">Modal title</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Your list goes here -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')">Close</button>
                    </div>
                </ng-template>
                <!-- messages -->
                <div class="col-md-12 mt-auto mb-2">
                    <div class="overflow-auto mb-2" style="flex-grow: 1">
                        <div class="col-md-3 border border-white rounded">
                        </div>
                    </div>
                    <div class="row mt-auto pt-1 mb-2 border-top">
                        <!-- Media entry-->
                        <div class="col-md-1 mt-1">
                            <label style="cursor:pointer"><input type="file" hidden /><i class="fa fa-photo-video fa-lg"></i></label>
                            <label style="cursor:pointer" class="ms-4"><i class="fa fa-microphone-alt fa-lg"></i></label>
                        </div>
                        <!-- Message entry-->
                        <div class="col-lg">
                            <input type="text" class="form-control" placeholder="Type your message" [(ngModel)]="text" (keyup.enter)="sendMessage()">
                        </div>
                        <!-- Send button-->
                        <div class="col-sm-1 me-2 border border-secondary rounded justify-content-center">
                            <label class="mt-1" style="cursor:pointer"><i class="fa fa-paper-plane fa-lg"></i></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
