<div class="container-fluid">
    <div class="row">
        <!-- Side bar -->
        <div class="col-md-2 border bg-light rounded">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex align-items-center">
                        <h1 class="display-6 text-start flex-grow-1">Chats</h1>
                        <label data-bs-toggle="modal" data-bs-target="#onlineUsersModal" class="ms-auto rounded-3" style="cursor:pointer"><i class="m-2 my-3 fa fa-message fa-lg"></i></label>
                    </div>
                    <ul *ngIf="conversations.value.length != 0" class="list-group">
                        <li *ngFor="let conv of conversations|async; index as i">
                            <div class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <div (click)="selectConversation(conv)" style="cursor:pointer">
                                        <h5 class="mb-1">{{getOppositeUser(conv.participants)?.name}}</h5>
                                        <small *ngIf="conv.messages.length > 0">{{conv.messages[conv.messages.length - 1].content }}</small>
                                    </div>
                                    <i class="fa fa-close" style="cursor:pointer" (click)="deleteConversation(conv)"></i>
                                </div>
                                <p class="mb-1">{{conv.updatedAt}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Main content -->
        <div class="col-md-10">
            <div class="container d-flex flex-column border bg-light rounded" style="height:720px">
                <!--Online users pop up-->
                <div class="modal fade" id="onlineUsersModal" tabindex="-1" aria-labelledby="usersModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Online Users</h1>
                            </div>
                            <div class="modal-body">
                                <ul class="list-group">
                                    <li style="cursor:pointer" *ngFor="let user of onlineCustomers|async" (click)="startConversation(user)" class="list-group-item">{{user.name}}</li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- messages -->
                <div class="col-md-12 mt-auto mb-2">
                    <div class="overflow-auto mb-2" style="flex-grow: 1">
                        <div class="col-md-3 border border-white rounded">
                        </div>
                    </div>
                    <div class="row mt-auto pt-1 mb-2 border-top">
                        <!-- Media entry-->
                        <div class="col-md-1 mt-1">
                            <label style="cursor:pointer"><input type="file" hidden /><i class="fa fa-photo-video fa-lg"></i></label>
                            <label style="cursor:pointer" class="ms-4"><i class="fa fa-microphone-alt fa-lg"></i></label>
                        </div>
                        <!-- Message entry-->
                        <div class="col-lg">
                            <input type="text" class="form-control" placeholder="Type your message" [(ngModel)]="text" (keyup.enter)="sendMessage()">
                        </div>
                        <!-- Send button-->
                        <div class="col-sm-1 me-2 border border-secondary rounded justify-content-center">
                            <label class="mt-1" style="cursor:pointer"><i class="fa fa-paper-plane fa-lg"></i></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
