<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <form name="loginForm" (ngSubmit)="loginAsync()">
                        <span class="text-muted fs-4 d-block mb-3">Login</span>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" [(ngModel)]="login.email" class="form-control" id="loginemail" name="email" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" [(ngModel)]="login.password" class="form-control" id="loginpassword" name="password">
                        </div>
                        <div class="mb-3 form-check d-flex justify-content-start">
                            <input type="checkbox" [(ngModel)]="keepUserLoggedIn" class="form-check-input" id="rememberMe" name="keepUserLoggedIn">
                            <label class="form-check-label ms-2" for="rememberMe">Remember me</label>
                        </div>
                        <a class="link d-flex justify-content-start mb-3" href="#">Forgot your password?</a>
                        <button type="submit" class="btn btn-light mb-3">Login</button>
                    </form>
                </div>
            </div>
            <div class="alert alert-danger mt-3" *ngIf="hasLoginError" role="alert">{{loginError}}</div>
        </div>
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <form name="registerForm" (ngSubmit)="registerAsync()">
                        <span class="text-muted fs-4 d-block mb-3">SignUp</span>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" [(ngModel)]="user.name" class="form-control" id="name" name="name">
                        </div>
                        <div class="mb-3">
                            <label for="phonenumber" class="form-label">Phone Number</label>
                            <input type="text" [(ngModel)]="user.phoneNumber" class="form-control" id="phonenumber" name="phonenumber">
                        </div>
                        <div class="mb-3">
                            <label for="birthDate" class="form-label">Birth Date</label>
                            <input type="date" [(ngModel)]="user.birthDate" class="form-control" id="birthDate" name="birthDate">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" [(ngModel)]="user.email" class="form-control" id="registeremail" name="email" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" [(ngModel)]="user.password" class="form-control" name="password" id="registerpassword">
                        </div>
                        <button type="submit" class="btn btn-light w-100">Register</button>
                    </form>
                </div>
            </div>
            <div class="alert alert-danger mt-3 animate__animated animate__fadeIn" *ngIf="hasRegisterError" role="alert">{{registerError}}</div>
        </div>
    </div>
</div>
