:host {
    max-width: 1920px;
    padding: 0;
    text-align: center;
}
.loading-image {
  animation: spin 2s linear infinite;
}

.disable-pointer-events {
  pointer-events: none;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}

.container-fluid {
  flex-grow: 1;
  padding-bottom: 60px;
}

footer {
  position: fixed;
  bottom: 0;
  overflow-x: hidden;
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
}

.chat-icon{
  cursor: pointer;
}

.chat {
  position: fixed;
  bottom: 90px;
  right: 30px;
}

.chat-text {
  position: absolute;
  right: 140%;
  bottom: 5px;
  background-color: #f9f9f9;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.chat-text-border {
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid #ccc;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.chat-text-background {
  position: absolute;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid #f9f9f9;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
}

@keyframes slideUpFade {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

.chat-text {
  animation: slideUpFade 7s;
}
