<app-menu style="width: 100vw"></app-menu>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col">
            <div *ngIf="isLoading" class="loading-overlay">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Carregando...</span>
                </div>
            </div>
            <div [style.pointer-events]="isLoading ? 'none' : 'auto'">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<footer class="footer bg-light w-100 mt-5" style="width:100vw">
    <div class="row bg-grey d-flex mt-3">
        <p class="text-end"><i class="far fa-copyright"></i> Vendaval - {{date.getFullYear()}}</p>
    </div>
</footer>

