:host {
    max-width: 1920px;
    padding: 0;
    text-align: center;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}

.container-fluid{
    flex-grow: 1;
}

footer {
    position: fixed;
    bottom: 0;
    overflow-x: hidden;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
}
