<div class="container">
<div class="row">
    <div class="col-md-12">
      <p>Administração</p>
    </div>
  </div>
  <div class="container">
      <ul class="list-group">
          <button type="button" class="list-group-item list-group-item-action btn btn-primary">Item 1</button>
          <button type="button" class="list-group-item list-group-item-action btn btn-primary">Item 2</button>
          <button type="button" class="list-group-item list-group-item-action btn btn-primary">Item 3</button>
      </ul>
  </div>
</div>
