<nav class="navbar navbar-expand-lg navbar-light bg-light w-100 shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Vendaval</a>
        <button class="navbar-toggler" type="button" (click)="navBarCollapsed = !navBarCollapsed" [attr.aria-expanded]="!navBarCollapsed" aria-controls="navbarNav" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="navBarCollapsed" class="navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <li ngbDropdown class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="departments" role="button" ngbDropdownToggle>
                        <span class="navbar-toggler-icon me-1"></span>
                        Departments
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu mt-2" aria-labelledby="departments">
                        <a class="dropdown-item" href="#">Clothing</a>
                        <a class="dropdown-item" href="#">Footwear</a>
                        <a class="dropdown-item" href="#">Forniture</a>
                        <a class="dropdown-item" href="#">Electronics</a>
                        <a class="dropdown-item" href="#">Books</a>
                        <a class="dropdown-item" href="#">Digital Content</a>
                        <a class="dropdown-item" href="#">Subscription</a>
                        <a class="dropdown-item" href="#">Services</a>
                        <a class="dropdown-item" href="#">Groceries</a>
                        <a class="dropdown-item" href="#">Maintenance Parts</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form class="d-flex">
                        <input class="form-control me-2" id="search-bar" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav me-2">
                <li class="nav-item me-4">
                    <a class="nav-link" id="cart" href="#"><i class="fas fa-shopping-cart"></i></a>
                </li>
                <li ngbDropdown class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="user" role="button" ngbDropdownToggle>
                        <i class="fas fa-user"></i>
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end mt-2" aria-labelledby="user">
                        <ng-container *ngIf="isLoggedIn; else loggedOut">
                            <a class="dropdown-item" href="#" role="button">Profile</a>
                            <a class="dropdown-item" (click)="logout()" role="button">Log out</a>
                        </ng-container>
                        <ng-template #loggedOut>
                            <a class="dropdown-item" href="login" role="button">Login or Sign Up</a>
                        </ng-template>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>
